{% extends "layouts/main.html" %}

{% block content %}
<div id="newMessage">
	<h1>Create New Message</h1>
	<h4><a class="nostyle" href="http://localhost:8000/msg/">View All Messages</a></h4>
	{% if form.errors %}
		<ul>
			{% for error in form.errors %}
				<li class='thin center red'>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form class='' action='../search' method="post">
		<table class=''>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
		<input id='msgSubmit' type="submit" value="submit">
	</form>
</div>
{% endblock %}