{% extends "layouts/main.html" %}

{% block content %}
<div style="text-align:center;">
	<h1><a class="nostyle" href="http://localhost:8000/msg/">Messages</a></h1>
	<h4><a class="nostyle" href="http://localhost:8000/index">Create New Message</a></h4>
	{% if parent %}
		{% include 'message.html' with msg=parent boxType='messageBox' %}<br/>
	{% endif %}
		{% include 'message.html' with msg=message boxType='messageBox'%}<br/>
	{% for child in children %}
		{% include 'message.html' with msg=child boxType='messageBoxSmall' %}
	{% endfor %}
</div>
{% load staticfiles %}<script src="{% static 'ChatHub/js/chitchat.js' %}"/></script>
{% endblock %}